In [8]:
!curl -L https://files.grouplens.org/datasets/movielens/ml-latest-small.zip -o ml-latest-small.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  1  955k    1 15968    0     0  15906      0  0:01:01  0:00:01  0:01:00 15936
 91  955k   91  874k    0     0   437k      0  0:00:02  0:00:01  0:00:01  437k
100  955k  100  955k    0     0   464k      0  0:00:02  0:00:02 --:--:--  464k

In [9]:
import zipfile
with zipfile.ZipFile('ml-latest-small.zip','r') as zip_ref:
    zip_ref.extractall('data')

In [10]:
import pandas as pd 
movies_df = pd.read_csv('data/ml-latest-small/movies.csv')
ratings_df = pd.read_csv('data/ml-latest-small/ratings.csv')

In [11]:
movies_df.columns, ratings_df.columns

(Index(['movieId', 'title', 'genres'], dtype='object'),
 Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object'))

In [12]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [13]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [14]:
movies_df.shape,ratings_df.shape

((9742, 3), (100836, 4))